<div class="row justify-content-center">
  <div class="col-md-auto">
    <h4>Add Url</h4>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8">
    <form (ngSubmit)="onSubmit()" #urlForm="ngForm">
      <div class="form-group">
        <label for="name">Url Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Url name" required ngModel name="name"
          #name="ngModel">
        <span class="alert alert-danger" *ngIf="!name.valid && name.touched">Please enter a name!</span>
      </div>

      <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" id="url" placeholder="Url" required ngModel name="url" #url="ngModel">
        <span class="alert alert-danger" *ngIf="!url.valid && url.touched">Please enter a url!</span>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" ngModel name="description">
      </div>

      <button [disabled]="!urlForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
