<table class="table">
  <thead>
    <tr>
      <th (click)="onSortByName()" scope="col">
        <div class="row">
          <div class="col-md-4 pr-0">Name</div>
          <div class="col-md-3 pl-0 pointer">
            <i class="material-icons">
              sort_by_alpha
            </i>
          </div>
        </div>
      </th>
      <th scope="col">Used On</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <!-- <app-url-item *ngFor="let url of urls"></app-url-item> -->
    <tr *ngFor="let url of urls">
      <td>{{ url.name | uppercase }}</td>
      <td>{{ url.date | date:'medium' }}</td>
      <td>
        <a class="btn btn-primary" (click)=onUpdateUrlDate(url.id) target="_blank" href="{{ url.url }}">Open</a>
        <button class="btn btn-danger" (click)="onRemoveUrl(url.id)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
