<div class="row justify-content-center">
  <div class="col-md-auto">
    <h4>URL List</h4>
  </div>
</div>
<div class="row mb-4 justify-content-center">
  <div class="col-md-auto">
    <button class="btn btn-primary" (click)="onAddUrl()">Add URL</button>
  </div>
  <div class="col-md-auto">
      <button class="btn btn-warning" (click)="onBrokenUrl()">Broken URL</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-9">
    <app-item-list></app-item-list>
  </div>
</div>
